/*PC用の設定*/
@charset "UTF-8";

html{
  font-size: 62.5%;
  padding: 0px;
  margin: 0px;
}


body{
  padding: 0;
  margin: 0;

  font-family: メイリオ;
  font-size: 1.0rem;

  z-index: 1;
}

header{
  /*トップ見出しの設定です。*/

  margin: 0 auto;
  padding: 0 auto;

  background: url(../images/RikakoGohst.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-color:#fb526e;
}

#header-in{
  margin: 0 auto;
  width: 862px;
  height: 425px;
  color: white;
}

#header-left{
  float:left;
  height: 100%;
  width: 50%;
  text-align: center;
}

#header-left h1{
  padding-top: 50px;
  font-size: 2.9rem;
}

#header-left p{
  margin: 0;
  padding-top: 10px;
  font-size: 1.6rem;
}

#store{
  width:220px;
  height:60px;
  padding-top: 20px;
}

#storeGoogle{
  width:220px;
  height:60px;
  padding-top: 10px;
}


#header-right{
  float:right;

  background: url(../images/iPhone.png);
  background-repeat: no-repeat;
  background-size: 323px 400px;
  background-position: 10px 26px;

  height: 100%;
  width: 50%;
}


#social{
  height: 45px;
}

#social img{
  width: 35px;
  height: 35px;
}

#twitter{
  position: relative;
  top: 5px;
  left: 348px;
}

#facebook{
  position: relative;
  left: 350px;
  top: 5px;
}


#iPhoneScreen{

  width: 274px;
  height: 325px;

  position: relative;
  top: 55px;
  left: 37px;
}


/*ここから下, トップのメニューです。*/
#functions{
  /*トップ見出しの設定です。*/
  background-color:white;
  text-align: center;

  color: gray;

  /*paddingの変更*/
  padding: 0px;
  margin: 0 auto;
}


#functions-in{
  height: 600px;
  width: 862px;
  margin: 0 auto;
  position: relative;

}

#functions-in>h1{
  padding-top: 20px;
  font-size: 30px;
}

#functions-in>h1>span{
  color: #50a900;
}



#functions-in>div{
  width: 50%;
  padding-top: 10px;
  float: left;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: top center;
}


#functions-in div p{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

#functions-in div h3{
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #000;
}

#question{

  background: url(../images/question.png);

}

#explanation{

  background: url(../images/explanation.png);
}

#weakpoint{

  background: url(../images/weakpoint.png);
}

#database{

  background: url(../images/database.png);
}

#social2{
  display: none;
}



/*ここから下, トップのメニューです。*/
footer{
  /*トップ見出しの設定です。*/
  background-color:#2e2e38;
  text-align: center;

  color: white;

  height: 158px;

  /*paddingの変更*/
  padding: 0px;
  margin: 0 auto;
  font-size: 12px;
}

footer h2{
  padding: 20px 0px 0px;
  margin: 0px;
}

a{/*リンクされた文字*/
    color:#fff;
    font-style:normal;
    text-decoration:underline;
}
a:link {/*未訪問のリンク*/
    color:#fff;
    font-style:normal;
    text-decoration:underline;
}
a:visited {/*訪問後のリンク*/
    color:#fff;
    text-decoration:underline;
}
a:hover {/*マウスをのせたとき*/
    color:#fff;
    font-style:normal;
    text-decoration:underline;
}
a:active {/*クリック中*/
    text-decoration:none;
}
